{% extends 'base.html' %}
{% block content %}
    <p id="{{ currentdir }}" class="dir">Current working directory: {{ currentdir }}</p>
    <button class="up">Go 1 directory up</button>
     <div class="uk-child-width-1-5@s uk-grid uk-margin im" uk-grid="">
      {% for img in images %}
            <div>
                <button class="uk-button uk-button-primary " name="{{ img }}">{{ img }}</button>
            </div>
        {% endfor %}
    </div>
    <div class="uk-child-width-1-5@s uk-grid uk-margin filelist" id="filelist" uk-grid="">
        {% for sub in currentfiles %}
            <div>
                <button class="file" class="uk-button uk-button-primary " name="{{ sub }}">{{ sub }}</button>
            </div>
        {% endfor %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>

    <script type=text/javascript>

        $(document).ready(function () {

            $(".file").click(function () {
                clicked = $(this).attr("name");

                form = new FormData();
                objd = $(".dir").attr("id")
                form.append('dir', objd);
                form.append('fileordir', clicked);


                $.ajax({
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    url: "{{url_for('getdir_down')}}",
                    data: form,
                    success: function (d) {
                        $(".dir").attr("id", d["currentdir"])
                        $(".dir").text("Current working directory: " + d["currentdir"])
                        $("#filelist").empty();
                        t = d["currentfiles"]
                        te = d["images"]
                        for (let i = 0; i < d["currentfiles"].length; ++i) {
                            var dd = d["currentfiles"]

                            var test = $('<button/>',
                                {
                                    text: dd[i],
                                    class: "file uk-button uk-button-primary",
                                    name: dd[i]
                                });

                            test.click('click', clfun);

                            appendme = "<div>" + '<button class="file" class="uk-button uk-button-primary " name=""' + dd[i] + '"">' + dd[i] + ' </button>' + "</div>"
                            $(".filelist").append(test)
                        }

                        for (let i = 0; i < te.length; ++i) {
                            var dd = te

                            var test = $('<button/>',
                                {
                                    text: "img",
                                    class: "file uk-button uk-button-primary",
                                    name: dd[i]
                                });

                            var teste = $('<img/>',
                                {
                                    src: "data:image/png;base64," + dd[i],
                                });

                            $(".im").append(test)
                            $(".im").append(teste)

                        }
                    }
                });
            })

            function clfun() {
                clicked = $(this).attr("name");

                form = new FormData();
                objd = $(".dir").attr("id")
                form.append('dir', objd);
                form.append('fileordir', clicked);


                $.ajax({
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    url: "{{url_for('getdir_down')}}",
                    data: form,
                    success: function (d) {
                        $(".dir").attr("id", d["currentdir"])
                        $(".dir").text("Current working directory: " + d["currentdir"])
                        $("#filelist").empty();
                        t = d["currentfiles"]
                        te = d["images"]
                        for (let i = 0; i < d["currentfiles"].length; ++i) {
                            var dd = d["currentfiles"]

                            var test = $('<button/>',
                                {
                                    text: dd[i],
                                    class: "file uk-button uk-button-primary",
                                    name: dd[i]
                                });

                            test.click('click', clfun);

                            appendme = "<div>" + '<button class="file" class="uk-button uk-button-primary " name=""' + dd[i] + '"">' + dd[i] + ' </button>' + "</div>"
                            $(".filelist").append(test)
                        }
                         for (let i = 0; i < te.length; ++i) {
                            var dd = te

                            var test = $('<button/>',
                                {
                                    text: "img",
                                    class: "file uk-button uk-button-primary",
                                    name: dd[i]
                                });

                            var teste = $('<img/>',
                                {
                                    src: "data:image/png;base64," + dd[i],
                                });

                            $(".im").append(test)
                            $(".im").append(teste)

                        }
                    }
                });
            }

            $(".up").click(function () {
                objd = $(".dir").attr("id")
                form = new FormData();
                form.append('dir', objd);

                $.ajax({
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    url: "{{url_for('getdir_up')}}",
                    data: form,
                    success: function (d) {
                        $(".dir").attr("id", d["currentdir"])
                        $(".dir").text("Current working directory: " + d["currentdir"])
                        $("#filelist").empty();
                        t = d["currentfiles"]
                        te = d["images"]

                        for (let i = 0; i < d["currentfiles"].length; ++i) {
                            var dd = d["currentfiles"]

                            var test = $('<button/>',
                                {
                                    text: dd[i],
                                    class: "file uk-button uk-button-primary",
                                    name: dd[i]
                                });

                            test.click('click', clfun);

                            appendme = "<div>" + '<button class="file" class="uk-button uk-button-primary " name=""' + dd[i] + '"">' + dd[i] + ' </button>' + "</div>"
                            $(".filelist").append(test)
                        }
                        for (let i = 0; i < te.length; ++i) {
                            var dd = te

                            var test = $('<button/>',
                                {
                                    text: "img",
                                    class: "file uk-button uk-button-primary",
                                    name: dd[i]
                                });

                            var teste = $('<img/>',
                                {
                                    src: "data:image/png;base64," + dd[i],
                                });

                            $(".im").append(test)
                            $(".im").append(teste)

                        }
                    }
                });

            });
        })
    </script>
{% endblock %}