{% extends 'base.html' %}
{% block content %}


        <form id="formid" method="post" enctype=multipart/form-data>
            <fieldset class="uk-fieldset">
                <legend class="uk-legend uk-text-large">Create Caption</legend>
                <div class="uk-margin" style="text-align: center;">
                    <label class="uk-form-label uk-text-large" for="form-stacked-text">Caption</label>
                    <div class="uk-form-controls">
                    <textarea class="uk-textarea" id="caption" rows="5" type="text" name="caption" maxlength="240"
                              required></textarea>
                    </div>
                </div>
                <div class="uk-margin" style="text-align: center;">
                    <label class="uk-form-label uk-text-large" for="form-stacked-text">Image</label>
                    <div class="uk-form-controls">
                        <div class="uk-child-width-1-2@s uk-text-center" uk-grid>

                            <div>
                                <input onchange="previewFile(this);" type="file" name="file" id="file"
                                       accept="image/png, image/jpeg" class="uk-button uk-button-primary " required>
                            </div>
                            <div>
                                <a href="#ex1" rel="modal:open">
                                    <img data-src="" width="100px" height="" alt="" id="preview_img" uk-img>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal HTML embedded directly into document -->
                <div id="ex1" class="modal">
                    <img data-src="" width="" height="" alt="" id="preview_img2" uk-img>
                    <a href="#" rel="modal:close">Close</a>
                </div>

                <!-- Link to open the modal -->


                <div class="uk-child-width-1-1@s uk-grid uk-margin" uk-grid="">
                    <div class="uk-first-column">
                        <label class="uk-form-label uk-text-large text_color" for="form-stacked-text">Subreddits</label>
                    </div>

                    <div class="uk-first-column">
                        <div class="uk-panel uk-panel-scrollable">
                            <div class="">
                                {% for sub in subreddits %}
                                    <div>
                                        <label>
                                            <input class="uk-checkbox subreddit" type="checkbox"
                                                   value="{{ sub }}"> {{ sub }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="uk-first-column">
                        <label class="uk-form-label uk-text-large text_color" for="form-stacked-text">Submit</label>
                    </div>

                    <div class="uk-first-column">
                        <input type="submit" class="uk-button uk-button-primary submitbutton" value="Submit">
                    </div>
                </div>


            </fieldset>
        </form>


        <div class="tablecontainer">

        </div>




    <script type=text/javascript>
        $(document).ready(function () {

            $("#formid").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                $(".submitbutton").prop('disabled', true);
                var caption = $('#caption').val();
                var file = $('#file')[0].files[0];
                varr = $(".subreddit" + ':checkbox:checked')
                var subreddits = ""
                $.each(varr, function (key, value) {
                    if (subreddits === "") {
                        subreddits += value.value
                    } else {
                        subreddits += ',' + value.value
                    }
                });
                form = new FormData();
                form.append('caption', caption);
                form.append('file', file);
                form.append('subreddits', subreddits);


                $.ajax({
                    type: "POST",
                    url: "{{ url_for('handle_data') }}",
                    data: form, // serializes the form's elements.
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(".tablecontainer").empty();
                        $(".tablecontainer").append(data);
                        $('#caption').val('')
                        $('#file').val('')
                        varr.prop("checked", false);
                        $(".submitbutton").prop('disabled', false);
                    }
                });
            });

            $.ajax({
                type: 'POST',
                url: "{{url_for('get_postss')}}",
                success: function (d) {
                    $(".tablecontainer").append(d);
                }
            })

            $(".post").click(function () {
                clicked = $(this).attr("name");
                str = ".subreddit" + clicked
                varr = $(str + ':checkbox:checked')

                $.ajax({
                    type: 'POST',
                    url: "{{url_for('reddit_post')}}",
                    data: {
                        'data': clicked
                    },
                    success: function (data) {
                        $(".tablecontainer").empty();
                        $(".tablecontainer").append(data);
                    }
                });
            });

            $(".edit").click(function () {
                clicked = $(this).attr("name");
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('edit_post_path')}}",
                    data: {
                        'caption': $("#" + clicked).val(),
                        'id': clicked
                    },
                    success: function (d) {
                        $(".tablecontainer").empty();
                        $(".tablecontainer").append(d);
                    }
                })
            });

            $(".delete").click(function () {
                clicked = $(this).attr("name");
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('delete_post')}}",
                    data: {'id': clicked},
                    success: function (d) {
                        $(".tablecontainer").empty();
                        $(".tablecontainer").append(d);
                    }
                })
            });


        });
    </script>

{% endblock %}